body {
  background-color: #fff;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 1.6em;
  letter-spacing: 0.5px;
}
.container {
  padding: 0 20px;
}
h1 {
  font-size: 19px;
}
h2 {
  font-size: 17px;
}
h3,
h4,
h5,
h6 {
  font-size: 16px;
}
header a,
header a:visited,
main#index a,
main#index a:visited,
main#list a,
main#list a:visited,
nav a,
nav a:visited {
  color: #666;
}
article a,
article a:visited,
footer a,
article a:visited {
  color: #29abe2;
}
header a:hover,
article a:hover,
main#index a:hover,
main#list a:hover,
nav a:hover {
  color: #29abe2;
}
main#index .meta a,
main#list .meta a,
main#single .meta a {
  color: #999;
}
main#index .meta a:hover,
main#list .meta a:hover,
main#single .meta a:hover {
  color: #29abe2;
}
article a:hover,
footer a:hover {
  text-decoration: underline;
}
ul,
ol {
  margin-left: 30px;
}
pre {
  margin: 25px 0;
}
table {
  border: 1px solid #ccc;
  margin: 25px 0;
}
th {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 2px 10px;
}
td {
  border: 1px solid #ccc;
  padding: 2px 10px;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}
header {
  padding: 20px 0;
  margin-bottom: 20px;
}
header h2 {
  font-size: 12px;
}
header #social {
  text-align: right;
}
header #social ul {
  font-size: 0;
  margin: 0;
}
header #social li {
  display: inline-block;
  font-size: 12px;
  padding: 0 10px;
}
header #social li:first-child {
  padding-left: 0;
}
header #social li + li {
  border-left: 1px solid #ccc;
}
header #social li:last-child {
  padding-right: 0;
}
@media (max-width: 767px) {
  header h1,
  header h2 {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 767px) {
  header #social {
    margin-top: 20px;
    text-align: center;
  }
}
nav ul.pagination {
  font-size: 0;
  text-align: center;
  margin: 0;
}
nav ul.pagination li {
  display: inline-block;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 3px 10px;
  margin: 0 3px;
}
nav ul.pagination li.active {
  border: 2px solid #29abe2;
}
nav ul.pagination li:hover {
  border-color: #29abe2;
}
nav.pagination-single {
  padding: 20px 0 20px 0;
  overflow: hidden;
}
nav.pagination-single span.previous {
  float: left;
  padding: 10px 0 10px 0;
  max-width: 300px;
}
nav.pagination-single span.next {
  float: right;
  padding: 10px 0 10px 0;
  max-width: 300px;
}
nav.pagination-single a {
  color: #29abe2;
}
#single aside {
  margin-top: 80px;
}
footer {
  margin: 80px 0;
  padding: 20px 0;
}
footer img {
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  footer {
    margin: 40px 0;
  }
}
article h1 {
  margin: 50px 0 25px 0;
}
article h2 {
  border-bottom: 2px solid #ddd;
  margin: 50px 0 25px 0;
  padding-bottom: 10px;
}
article h3,
article h4,
article h5,
article h6 {
  margin: 40px 0 25px 0;
}
article p {
  margin: 25px 0;
}
article code {
  color: #333;
  background-color: #eee;
  padding: 0 3px;
  margin: 0 3px;
  border: 1px solid #ccc;
  font-family: consolas, "Courier New", monospace;
}
article pre code {
  font-family: consolas, "Courier New", monospace;
}
article blockquote {
  margin: 25px 0;
  padding-left: 20px;
  border-left: 4px solid #ccc;
  font-style: italic;
}
article img {
  display: block;
  margin: 0 auto;
  text-align: center;
}
article #share-this {
  margin: 40px 0 40px 0;
}
.article-header {
  border-left: 4px solid #29abe2;
  margin: 10px 0 25px -4px;
  padding: 5px 0 5px 10px;
}
.light-gray {
  color: #999;
}
.summary {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.meta {
  color: #999;
  font-size: 12px;
}
