{{ partial "header.html" . }}

  <!-- Main Section Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <main id="single" role="main">
    <div class="article-header">
      <h1>{{ .Title }}</h1>
      <div class="meta">
        {{ .Date.Format "Jan 2, 2006" }} &nbsp;
        {{ range .Params.tags }}
          #<a href="/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
        {{ end }}
      </div>
    </div>
    <article>
      {{ .Content }}
    </article>
    {{ partial "disqus.html" . }}
  </main>

{{ partial "footer.html" . }}
