{{ partial "header.html" . }}

  <!-- Main Section Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <main id="single" role="main">
    <div class="article-header">
      <h1>{{ .Title }}</h1>
      <div class="meta">
        {{ .Date.Format "Jan 2, 2006" }} &nbsp;
        {{ range .Params.tags }}
          #<a href="/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
        {{ end }}
      </div>
    </div>
    <article>
      {{ .Content }}
      
      <!-- ShareThis Buttons
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      {{ with .Site.Params.shareThis }}
        <div id="share-this" class="col span_10">
          <span class='st_twitter_large' displayText='Tweet'></span>
          <span class='st_facebook_large' displayText='Facebook'></span>
          <span class='st_googleplus_large' displayText='Google +'></span>
          <span class='st_pocket_large' displayText='Pocket'></span>
          <span class='st_sharethis_large' displayText='ShareThis'></span>
          <span class='st_email_large' displayText='Email'></span>  
        </div>
      {{ end }}
    </article>
    {{ partial "disqus.html" . }}
  </main>
  
  <nav class="pagination-single">
    {{ if .Next }}
      <span class="previous">&larr; <a href="{{ .Next.Permalink }}" rel="prev">{{ .Next.Title }}</a></span>
    {{ end }}
    {{ if .Prev }}
      <span class="next"><a href="{{ .Prev.Permalink }}" rel="next">{{ .Prev.Title }}</a> &rarr;</span>
    {{ end }}
  </nav>

{{ partial "footer.html" . }}
