{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            {{ range where .Data.Pages "Title" "Home" }}
                <div class="markdown">
				<article>
                {{ .Content }}
                </div>
				</article>
            {{ end }}
        </div>
    </div>
</section>
<!-- Main Section Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<main id="index" role="main">
</main>


<!-- Paginator Section Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<nav>
  {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
  {{ template "_internal/pagination.html" . }}
</nav>


{{ partial "footer.html" . }}
