{{ partial "header.html" . }}


<!-- Main Section Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<main id="index" role="main">
  <div class="article-header light-gray"><h1>Recent Articles</h1></div>
  {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{ range (.Paginate $pages).Pages }}
  <div class="summary">
    <h2><a href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a></h2>
    <div class="meta">
      {{ .Date.Format "Jan 2, 2006" }} &nbsp;
      {{ range .Params.tags }}
        #<a href="/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
      {{ end }}
    </div>
  </div>
  {{ end }}
</main>


<!-- Paginator Section Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<nav>
  {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{ $paginator := .Paginate $pages }}
  {{ template "_internal/pagination.html" . }}
</nav>


{{ partial "footer.html" . }}
